.Carousel_Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img{
        width: 100%;
        object-fit: contain;
    }

    .Carousel_Wrapper {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .Carousel_Button{
            cursor: pointer;
        }
    }
}
