.About_Container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
    padding: 0;
    background-color: #fefefe;


    .About_Wrapper {
        width: 90%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;

        .About_ContentContainer {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
            .About_InfoContainer {
                max-width: 565px;
                width: 100%;
                height: fit-content;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                margin: 0;
                padding: 0;
                :first-child {
                    margin-bottom: 50px;
                }

                .About_InfoContentGroup {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    .About_InfoTitle {
                        font-size: 3rem;
                        font-weight: 600;
                        color: #1A1E29;
                        width: 100%;
                        text-align: start;
                        margin: 0;
                        margin-bottom: 15px;
                    }

                    .About_InfoDescription {
                        font-size: 0.875rem;
                        font-weight: 400;
                        color: #1A1E29;
                        width: 100%;
                        text-align: justify;
                        margin: 0;
                    }
                }
            }
            .About_picContainer{
                flex: 1;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: end;
                margin: 0;
                padding: 0;
            }
        }
    }
}
